<!DOCTYPE html>
<html>
<head>
    <title>Форма разбора</title>
</head>
<body>
    <h2>Заполните данные для расчета Human Design</h2>
    <form method="post">
        Имя: <input type="text" name="name" required><br>
        Дата рождения: <input type="date" name="birth_date" required><br>
        Время рождения: <input type="time" name="birth_time" required><br>
        Город: <input type="text" name="city" required><br>
        <input type="submit" value="Отправить">
    </form>
</body>
</html>
